@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding: 42px 19px 36px;
  }

  .profile__avatar-container {
    margin-bottom: 26px;
  }

  .profile__info {
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin: 0 0 14px;
  }

  .profile__edit-button {
    margin-left: 0;
  }

  .profile__add-button {
    width: 100%;
    height: 50px;
    background-position: center;
  }
}
