.auth {
  max-width: 358px;
  margin: 60px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__title {
  margin: 60px 0 50px;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

.auth__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auth__input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #fff;
  font-size: 14px;
  padding: 8px 0;
  margin-bottom: 30px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

/* AUTOFILL FIX */
.auth__input:-webkit-autofill,
.auth__input:-webkit-autofill:hover,
.auth__input:-webkit-autofill:focus,
.auth__input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
}

.auth__submit {
  margin-top: 216px;
  height: 50px;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.auth__caption {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.auth__link {
  color: #fff;
  text-decoration: none;
}

/* TABLET */
@media screen and (max-width: 768px) {
  .auth__submit {
    margin-top: 180px;
  }
}

/* MOBILE */
@media screen and (max-width: 480px) {
  .auth {
    max-width: 260px;
  }

  .auth__title {
    font-size: 20px;
    margin: 30px 0 40px;
  }

  .auth__submit {
    margin-top: 173px;
    height: 46px;
    font-size: 16px;
  }

  .auth__caption {
    font-size: 12px;
  }
}